rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /recipes/{recipe} {
      allow get: if resource.data.visibility == 'Public' || resource.data.visibility == "OnlyLink" || request.auth.uid == resource.data.author.id;
      allow list: if resource.data.visibility == 'Public' || request.auth.uid == resource.data.author.id;
      allow update, delete: if resource.data.author.id == request.auth.uid;
      allow create: if request.auth.uid != null;
    }
  }
}