service firebase.storage {
  match /b/{bucket}/o {

    match /recipeImages/{userID} {
      match /{allImages=**} {
        allow read, write: if request.auth.uid == userID;
      }
      
      match /{recipeId}/{imageName} {
        allow read: if resource.metadata.visibility == "Public" || request.auth.uid == resource.metadata.userID;
      }
    }
  }
}
